* {
  box-sizing: border-box;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.characters-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.characters-list-item {
  margin: 10px;
  position: relative;
  width: 250px;
  height: 340px;
}
.image-container {
  margin: 10px;
  position: relative;
  width: 250px;
  height: 340px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.characters-list-item-image {
  width: 100%;
  height: 100%;
}
.image-container::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #39623c;
  position: absolute;
  bottom: -340px;
  opacity: 1;
  transition: all 0.2s;
}
.characters-list-item:hover .image-container::before {
  bottom: 0;
  opacity: 0.5;
  cursor: pointer;
}
.characters-list-item:hover .characters-list-item-image {
}
.loading-container,
.error-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.characters-list-item-name {
  position: absolute;
  color: white;
  opacity: 0;
  transition: all 0.3s;
  font-size: 20px;
}
.characters-list-item:hover .characters-list-item-name {
  opacity: 1;
}

.load-button-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* details page */
.card-container {
  display: flex;
  flex-direction: row;
  width: 1000px;
  border: 2px solid #f4f4f4;
}
.card-body-img {
  width: 250px;
  height: 340px;
}
.card-body-img img {
  width: 250px;
  height: 100%;
}
.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
}
.card-content span {
  display: block;
}
.card-header-name {
  font-size: 32px;
}
