* {
  box-sizing: border-box;
}
.app-name {
  display: block;
  display: flex;
  justify-content: center;
}
.container {
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  padding: 20px 50px;
  width: 500px;
  background-color: #f1f1f1;
}
.search-container {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}
.search-container input {
  width: 200px;
  height: 30px;
  border: 1px solid #f1f1f1;
  border-radius: 15px;
  padding: 20px;
  outline: none;
  color: #343434;
}

.form-container {
  width: 100%;
  height: 150px;
  margin-bottom: 20px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.form-container input[type="text"] {
  width: 200px;
  border: none;
  height: 50px;
  outline: none;
}
.controls-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.controls-container button {
  margin-right: 20px;
  width: 100px;
  height: 30px;
  border-radius: 20px;
  outline: none;
  border: none;
  background-color: #28ffbf;
  color: #54436b;
  font-weight: bold;
}
.controls-container button:hover {
  background-color: #54436b;
  color: #28ffbf;
  cursor: pointer;
}

.radio-container-wrapper {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
}
.radio-container-wrapper input {
  position: absolute;
  top: 0;
  left: 0;
}
.radio-container-wrapper span {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}
.radio-container-wrapper span::after {
  content: "\2713";
  text-align: center;
  display: none;
  font-size: 19px;
  color: #fff;
}
.radio-container-wrapper input:checked ~ span::after {
  display: block;
  border-radius: 50%;
}

/* notes component */
.notes-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
}
.notes-container li {
  display: flex;
  width: 200px;
  background-color: aquamarine;
  margin: 10px 0;
  padding: 10px;
  color: #f1f1f1;
}
