*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.app {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  width: 600px;
  background-color: #6ecb63;
  border-radius: 10px;
}
.header-title {
  text-align: center;
  margin-bottom: 10px;
}
.contacts-container {
  width: calc(100%-40px);
  margin: 20px;
}
.form-container {
  display: flex;
  flex-direction: column;
}
.form {
  width: 60%;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 20px;
}
.form input {
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  outline: none;
}
.form button {
  width: 100px;
  background-color: #ae00fb;
  border: none;
  outline: none;
  color: #d5eebb;
  font-weight: bold;
  transition: all 0.4s;
}
.form button:hover {
  cursor: pointer;
  color: #ae00fb;
  background-color: #d5eebb;
}
.form button:active {
  background-color: #ae00fb;
  color: #d5eebb;
}
.items-container {
  margin-top: 20px;
}
.list-item {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-between;
  font-size: 20px;
  background-color: #22577a;
  color: #fbf4e9;
  margin-bottom: 10px;
  border-radius: 5px;
}
.header-item {
  color: #b1e693;
  margin-right: 10px;
}
.delete-btn-wrapper {
  display: flex;
  margin-right: 10px;
}
.edit-btn {
  margin-right: 10px;
  color: #d5eebb;
  cursor: pointer;
}
.edit-btn:hover {
  color: #6ecb63;
}
.delete-btn {
  text-align: center;
  color: #e90e36;
  font-weight: bold;
  cursor: pointer;
}
.delete-all-btn {
  width: 100px;
  align-self: flex-end;
  height: 30px;
  background-color: #d83a56;
  border: none;
  outline: none;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}
.delete-all-btn:active {
  background-color: #d5eebb;
  color: #d83a56;
}

.edit-container {
  margin: 20px 0;
}
